{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}

   <!-- ##### Header Area Start ##### -->
   <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home'%}"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'whole_products' %}">Shop</a>
                            
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'whole_products'%}">Shop</a></li>
                                
                                <li><a href="{% url 'blog'%}">Blog</a></li>
                                
                                <li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>

                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            {% comment %} <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> {% endcomment %}
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>

<!-- ##### Breadcumb Area Start ##### -->
{% comment %} <div class="breadcumb_area bg-img" style="background-image: url('{% static 'img/bg-img/breadcumb.jpg '%}');" > {% endcomment %}
<div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url('{% static 'img/bg-img/breadcumb2.jpg'%}');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Sports Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Wrapper Area Start ##### -->
<div class="blog-wrapper section-padding-80">
    <div class="container">
        <div class="row">
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/racket-7282577_1280.jpg' %}" alt=""> 
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">"The difference between a successful person and others is not a lack of strength</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#"> Vince LombThe difference between a successful person and others is not a lack of strengthardi: Lombardi emphasizes that success in sports is not merely about physical </a>
                        </div>
                        <p>", not a lack of knowledge, but rather a lack in will." – Vince Lombardi: Lombardi emphasizes that success in sports is not merely about physical attributes or knowledge but is determined by one's unwavering determination and willpower.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/sports-2960839_1280.jpg' %}" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">You are never really playing an opponent.</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>"You are never really playing an opponent. You are playing yourself, your own highest standards, and when you reach your limits, that is real joy." – Arthur Ashe: Ashe's quote highlights that sports are a personal journey where the true satisfaction comes from surpassing your own expectations and standards.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/badminton-6063628_1280.jpg' %}" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">It's not whether you get knocked down; it's whether you get up.</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>"It's not whether you get knocked down; it's whether you get up." – Vince Lombardi: Lombardi's words remind us that in sports and life, it's not about avoiding challenges but about the resilience to rise after setbacks.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/tennis-5782695_1280.jpg' %}" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">The harder the battle, the sweeter the victory.</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>"The harder the battle, the sweeter the victory." – Les Brown: Brown's quote underscores that the difficulties and challenges faced in sports make the ultimate triumph even more rewarding.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/tennis-453505_1280.jpg' %}" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">You miss 100% of the shots you don't take.</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>"You miss 100% of the shots you don't take." – Wayne Gretzky: Gretzky's message is a reminder to seize opportunities in sports and life, as not taking a chance guarantees failure.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
           
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="{% static 'img/bg-img/child-613199_1280.jpg' %}" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">Success is no accident.</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>"Success is no accident. It is hard work, perseverance, learning, studying, sacrifice, and most of all, love of what you are doing or learning to do." – Pelé: Pelé's quote conveys that sports success is the result of dedication, continuous learning, and a genuine passion for one's endeavors.</p>
                        {% comment %} <a href="#">Continue reading <i class="fa fa-angle-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->

{% endblock content %}