{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}
   <!-- ##### Header Area Start ##### -->
   <!-- Header content -->
   <!-- ... (your existing header code) ... -->
   <!-- End of Header content -->
 <!-- ##### Header Area Start ##### -->

 <div class="row mt-5"></div>
 <div class="row mt-5"></div>
 <div class="row mt-5"></div>
 <div class="row mt-5"></div>

 <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'whole_products' %}">Shop</a>
                            {% comment %} <div class="megamenu">
                                {% for item in allcategories %}
                                <ul class="single-mega cn-col-4">
                                    <li class="title" style="background-color: #F79F81;">Collections </li>
                                    <li><a href="{% url 'category_products' item.id  %}">{{ item.name }} </a></li>
                                    
                                    
                                </ul> 
                                {% endfor %} {% endcomment %}
                                {% comment %} <div class="single-mega cn-col-4">
                                    <img src="{% static '/img/bg-img/bgg-6.jpg'%}" alt="">
                                </div>
                            </div> {% endcomment %}
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="contact.html">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>
<!-- ##### Navbar end End ##### -->


	<div class="container-fluid mt-5">
		<div class="row">
			<!-- Shopping Cart -->
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<div class="wrap-table-shopping-cart">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Product</th>
											<th>Name</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for item in cartobjs %}
											<tr id="cartitem{{item.id}}">
												<td>
													<img class="img-fluid img-responsive" src="{{ item.product.image1.url }}" alt="Product Image">
												</td>
												<td>{{ item.product.name }}</td>
												<td><div id="productamount">{{ item.product.price }}</div></td>
												<td>
													<input class="choosequantity form-control" type="number" min="1" value="{{ item.quantity }}" name="quantity" data-item-id="{{ item.id }}">
												</td>
												<td><div id="amount{{ item.id }}">{{ item.total }}</div></td>

												<td>
													<form method="POST" action="{% url 'delete_cart_item' %}">
														{% csrf_token %}
														<input type="hidden" name="cart_id" value="{{ item.id }}">
														<button type="submit" class="remove_cart_item btn btn-danger">Remove Item</button>
													</form>
												</td>
												
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							
							{% if cartobjs %}
								<div class="text-center mt-4">
									{% comment %} <button type="button" class="btn btn-danger delete-btn">Remove All Items</button> {% endcomment %}
								</div>
							{% endif %}
	
							{% if not cartobjs %}
								<div class="text-center mt-5">
									<h5 class="text-danger">No items in Cart!</h5>
								</div>
							{% endif %}
						</div>
					</div>
	
					{% comment %} ############################### {% endcomment %}
					{% comment %} <div class="col-sm-10 col-lg-5 col-xl-5 m-lr-auto m-b-50">
						<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
							<div style="background-color: #f5f5f5; padding: 20px; border-radius: 10px;">
								<h4 class="mtext-109 cl2 p-b-30">Cart Totals</h4>
					
								<div class="flex-w flex-t bor12 p-b-13">
									<div class="size-208">
										<span class="stext-110 cl2">Subtotal:</span>
									</div>
					
									<div class="size-209">
										<span class="subtotal mtext-110 cl2">{{totalsum}}</span>
									</div>
								</div>
					
								<div class="flex-w flex-t p-t-27 p-b-33">
									<div class="size-208">
										<span class="mtext-101 cl2">Total:</span>
									</div>
					
									<div class="size-209 p-t-1">
										<span class="subtotal mtext-110 cl2">RS.{{totalsum}}</span>
									</div>
								</div>
					
								{% if cartobjs %}
								<div class="text-center mt-4">
									<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
										<a class="text-info" href={% url 'checkout' %}>Proceed to Checkout</a>
									</button>
								</div>
								{% else %}
								<div class="text-center">
									<span class="text-success">Continue Shopping!</span>
									<button class="flex-c-m stext-101 cl0 btn bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-2">
										<a class="text-light" href={% url 'wishlist' %}>Back To Shop</a>
									</button>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					 {% endcomment %}
					<div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
						<div class="order-details-confirmation">
	
							<div class="cart-page-heading">
								<h4>CART TOTALS</h4>
								<br></br>
								
								
							</div>
	
							<ul class="order-details-form mb-4">
								{% comment %} <li><h5>Product</h3> <h5>Total</h5></li> {% endcomment %}
								<li><h5>Subtotal:</h3> <h5>{{totalsum}}</h5></li>
								<li><h5>Total:</h3> <h5>Rs.{{totalsum}}</h5></li>
							</ul>
							{% if cartobjs %}
	                        <br></br>
							<a href="{% url 'checkout'%}" class="btn essence-btn">Check Out</a>
							{% else %}
							<div class="text-center">
								<span class="text-success">Continue Shopping!</span>
								<button class="flex-c-m stext-101 cl0 btn bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-2">
									<a class=" btn btn-primary text-light" style="font-size: 20px; padding: 5px 10px;" href={% url 'home' %}>Back To Shop</a>
								</button>
							</div>
							{% endif %}
						</div>
					</div>
					{% comment %}  {% endcomment %}
				</div>
			</div>
		</div>
	</div>
{% endblock content%}
