{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}

<div class="row mt-5">

</div>
<div class="row mt-5">

</div>


<div class="container mt-5">


	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header flex-c-m p-lr-10 trans-04 ">
						<h4 style ="color:blue; font-family: sans-serif;">Forgot Password</h4>
					</div>
					<div class="card-body">
						<form  method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="email">PhoneNumber</label>
								<input type="number" class="form-control" id="email" placeholder="Enter your number" name="phonenumber">
							</div>
							{% comment %} <div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password" name="password">
							</div> {% endcomment %}
							<div class="justify-content-center ">
								<button type="submit" class="btn btn-primary">Submit</button>
								
                            
	
							</div>
							
							
	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<br><br><br><br>
  {% endblock content %}