{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}

<div class="row mt-5">

</div>
<div class="row mt-5">

</div>


<div class="container mt-5">


	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header flex-c-m p-lr-10 trans-04 ">
						<h4 style ="color:blue; font-family: sans-serif;">Login</h4>
					</div>
					<div class="card-body">
						<form  method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="email">Username</label>
								<input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password" name="password">
							</div>
							<div class="justify-content-center ">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="{% url 'forgot_password' %}" class="btn btn-link">Forgot Password?</a>
                            
	
							</div>
							<div class="text-danger">
								{{context}} {{error}}
							</div>
							
	
						</form>
						 {% comment %} <div class="text-center mt-3">
							<p class="mb-2" style="font-size: 18px; color: #555;">Don't have an account?</p>
							<a href="{% url 'signup' %}" class="btn btn-primary btn-lg" style="border-radius: 15px;">
								<i class="fas fa-user-plus" style="margin-right: 8px;"></i> Register
							</a>
						</div>  {% endcomment %}
						<div class="row mt-3">
							<div class="col-12 text-center">
								<p class="mb-2" style="font-size: 18px; color: #555;">Don't have an account?</p>
								<a href="{% url 'signup' %}" class="btn btn-primary btn-sm rounded-pill" style="border-width: 2px;">
									<i class="" style="margin-right: 8px;"></i> Register
								</a>
							</div>
						</div>
						
						
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>


<br><br><br><br>

{% block custom_js %}
    
<script>
	{% for msg in messages %}
	swal({
		title: "Success",
		text: '{{msg}}',
		icon: "success",
		button: "Ok!",
	  });
	  {% endfor %}

	  
</script>

{% endblock custom_js %} 

  {% endblock content %}