{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}

   <!-- ##### Header Area Start ##### -->
   <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                      <li><a href="#">Home</a>
                        
                    </li>
                      <!-- #################################################### -->
                        <li><a href="#">Shop</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Collections </li>
                                    <li><a href="shop.html">Badminton Racket &amp; Cock </a></li>
                                    <li><a href="shop.html">Cricket Bat &amp; Ball</a></li>
                                    <li><a href="shop.html">Football</a></li>
                                    
                                </ul>
                              
                                <div class="single-mega cn-col-4">
                                    <img src="{% static '/img/bg-img/bgg-6.jpg'%}" alt="">
                                </div>
                            </div>
                        </li>
                        <!-- ############################################### -->
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="contact.html">Contact</a></li>
                        
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>3</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>

<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="container-fluid card">
    <div class="row">
      <div class="col-md-7 text-center">
        <span class="icon-check_circle display-3 text-success"></span>
        <h2 class=" text-black display-3 pt-4 ">Thank you!</h2><br>
        <p class="lead  text-success">You order was successfully completed!</p> 
        <img style="width:150px;height:150px;" class="img-fluid" src={% static 'store/images/greentick.jpg' %} alt="">
        <h4 class=" text-black  "> <strong>Total Amount :</strong>  <i>Rs. {{ordertotal}}</i> /-</h4>
        <p><a href="" class="btn  stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04  mt-5 pt-2">Back to shop</a></p>
      </div>

      <div class="col-md-5 mb-4">
        <div class="card mt-4">
          <div class="card-header">
              <h2> <strong> Order Details</strong></h2>
          </div>
          <div class="card-body">
            
            {% for item,data in currentorder.items  %}
            
            
              <p class="card-text"> <strong> Product:</strong> {{item}}</p>
              <p class="card-text"><strong> Quantity:</strong>      {{data.quantity}}</p>
              <p class="card-text"><strong> Order Date:</strong>  {{data.orderdate}}  </p>
              <p class="card-text"><strong> Shipping Address:</strong>   {{data.address}} </p>
              <p class="card-text"><strong>  Product Price:</strong>  {{data.finalprice}}</p>
              <br><br><hr>
              {% endfor %}
          </div>
        </div>  
      </div>






    </div>
</div>
   






<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

{% endblock content %}