{% extends 'layouts/main.html'%}

{% load static %}

{% block content %}

<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home'%}"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'whole_products' %}">Shop</a>
                            
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'whole_products'%}">Shop</a></li>
                                
                                <li><a href="{% url 'blog'%}">Blog</a></li>
                                
                                <li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>

                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            {% comment %} <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> {% endcomment %}
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>


 <!-- ##### Single Product Details Area Start ##### -->
 <section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
   
    <div class="single_product_thumb clearfix" >
        
        <div class="product_thumbnail_slides owl-carousel " style="width:800px;height:800px; padding: 80px;">

            <a href="{{product.image1.url}}" class="MagicZoom">
                <img src="{{product.image1.url}}" alt="IMG-PRODUCT"  >
            </a>
            <a href="{{product.image2.url}}" class="MagicZoom">
                <img src="{{product.image2.url}}" alt="IMG-PRODUCT"  >
            </a>
            <a href="{{product.image3.url}}" class="MagicZoom">
                <img src="{{product.image3.url}}" alt="IMG-PRODUCT"  >
            </a>
            <a href="{{product.image4.url}}" class="MagicZoom">
                <img src="{{product.image4.url}}" alt="IMG-PRODUCT"  >
            </a>
         
{% comment %} 
            <img src="{{ product.image1.url }}"  alt="">
            <img src="{{ product.image2.url }}"  alt="">
            <img src="{{ product.image3.url }}"  alt="">
            <img src="{{ product.image4.url }}"  alt="">  {% endcomment %}
        </div>
    </div>

    

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span></span>
        <a href="#">
            <h2>{{product.name}}</h2>
            
        </a>
        <h2 style="color:Green">{{product.quantity}} quantity  available</h2>
        {% if product.discount_price %}
        <p class="product-price"><span class="old-price">$ {{product.price}}</span> ${{product.discount_price}}</p>
        {% else %}
        <p class="product-price"> ${{product.price}}</p>
        {% if qu == 0 %}
        <h2>{{ qu }} stocks available</h2>
    {% else %}
        <h2>Out of stock</h2>
    {% endif %}
    


        
        {% endif %}
        



        {% comment %} <p class="product-price"><span class="old-price">Rs 6500.00</span>Rs{{ product.price}}</p> {% endcomment %}
        <p class="product-desc">{{product.description}}</p>
       
        <!-- Form -->
        {% comment %} <form class="cart-form clearfix" method="post"> {% endcomment %}
            <!-- Select Box -->
           
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                {% comment %} {% for item in product %} {% endcomment %}
                <!-- Cart -->
                {% comment %} <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button> {% endcomment %}
                <div class="hover-content">
                    <!-- Add to Cart -->
                    <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn essence-btn">Add to Cart</button>
                    </form>
                </div>
                

               
                <!-- Favourite -->

                <form class="ps-5" method="POST" action="{% url 'add_to_wishlist' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="love-button" style="border: none; background: none;">
                        <i class="fa fa-heart" style="font-size: 30px; color: #ed07a8;"></i>
                    </button>
                </form>

                {% comment %} <div class="product-favourite ml-4">
                    <a href="#" class="favme fa fa-heart"></a>
                </div> {% endcomment %}
            </div>
        {% comment %} </form> {% endcomment %}
    </div>
</section>

<!-- ##### Single Product Details Area End ##### -->

{% endblock content %}

{% comment %} ##################################################################################### {% endcomment %}
