{% extends 'layouts/main.html'%}

{% load static %}

{% block custom_css %}

<style>
    .pagination {
      margin-left:250px;
      text-align: center;
      margin-top: 20px;
  }
  
  .pagination .pagination-link {
      margin: 5px;
      padding: 5px 10px;
      background-color: #3498db;
      color: #fff;
      border: 1px solid #3498db;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block; /* Align links horizontally */
  }
  
  .pagination .pagination-link:hover {
      background-color: #2980b9;
  }
  
  .current-page {
      margin: 5px;
      display: inline-block; /* Align the current page text horizontally */
  }
  
  </style>
{% endblock custom_css %}

{% block content %} 

<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home'%}"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'whole_products' %}">Shop</a>
                            
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'whole_products'%}">Shop</a></li>
                                
                                <li><a href="{% url 'blog'%}">Blog</a></li>
                                
                                <li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>

                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            {% comment %} <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> {% endcomment %}
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>

    <!-- #################################################################### -->

    <!-- ##### Navbar end End ##### -->

    <!-- Body  Content start -->

     <!-- ##### Shop Grid Area Start ##### -->
     <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            {% comment %} <h6 class="widget-title mb-30">Catagories</h6> {% endcomment %}

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        {% comment %} <a href="#">Sports</a> {% endcomment %}
                                        <ul class="sub-menu collapse show" id="clothing">
                                            
                                        </ul>
                                    </li>
                                    
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                        {% comment %} <a href="#">accessories</a> {% endcomment %}
                                        <ul class="sub-menu collapse" id="accessories">
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget price mb-50">
                            <!-- Widget Title -->
                            

                            <form id="product-filter-form">
                                <div class="widget-desc">
                                    {% comment %} <h3>Product Categories</h3> {% endcomment %}
                                    <ul>
                                        <li>
                                            
                                        </li>
                                        <li>
                                            
                                        </li>
                                        <!-- Add more categories as needed -->
                                    </ul>
                                </div>
                                {% comment %} <button type="submit">Apply Filters</button> {% endcomment %}
                            </form>
                            
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            {% comment %} <p class="widget-title2 mb-30">Color</p> {% endcomment %}
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span></span>All products </p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        {% comment %} <p>Sort by:</p> {% endcomment %}
                                        <form action="#" method="get">
                                            
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Single Product -->
                           {% for item in allproducts %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <form class="ps-5" method="POST" action="{% url 'add_to_wishlist' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ item.id }}">
                                        <button type="submit" class="love-button" style="border: none; background: none;">
                                            <i class="fa fa-heart" style="font-size: 30px; color: #ed07a8;"></i>
                                        </button>
                                    </form>
                                    <div class="product-img">
                                        <img src={{item.image1.url}} alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src={{item.image2.url}} alt="football">

                                        <!-- Product Badge -->
                                        <div class="product-badge offer-badge">
                                            {% comment %} {% if all_pdt_offer %} {% endcomment %}
                                            {% if item.offer %}
                                            <span>-{{item.offer}}%</span>
                                            
                                            {% endif %}
                                            
                                            {% comment %} {% endif %} {% endcomment %}
                                        </div>
                                        
                                        <!-- Favourite -->
                                        {% comment %} <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div> {% endcomment %}
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>topshop</span>
                                        <a href="{% url 'single_p_details' item.id  %}">
                                            <h6>{{item.name}}</h6>
                                        </a>
                                        {% if item.discount_price %}
                                        <p class="product-price"><span class="old-price">RS. {{item.price}}</span> Rs.{{item.discount_price}}</p>
                                        {% else %}
                                        <p class="product-price"> RS.{{item.price}}</p>


                                        
                                        {% endif %}
                                        

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <form method="post" action="{% url 'add_to_cart' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ item.id }}">
                                                <button type="submit" class="btn essence-btn">Add to Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            

                        </div>
                    </div>
                    

                    <div class="text-center">
                        <ul class="pagination">
                            {% if allproducts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ allproducts.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}
            
                            <li class="page-item disabled">
                                <span class="page-link">Page {{ allproducts.number }} of {{ allproducts.paginator.num_pages }}</span>
                            </li>
            
                            {% if allproducts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ allproducts.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ allproducts.paginator.num_pages }}">Last</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
                    
                </div>
            </div>
        </div>
    </section>




{% endblock content %}
