{% extends 'layouts/main.html' %}
{% load static %}

{% block custom_css %}

<style>
    .pagination {
        margin-left:700px;
        text-align: center;
        margin-top: 20px;
    }
    
    .pagination .pagination-link {
        margin: 5px;
        padding: 8px 12px;
        background-color: #3498db;
        color: #fff;
        border: 1px solid #3498db;
        text-decoration: none;
        border-radius: 4px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }
    
    .pagination .pagination-link:hover {
        background-color: #2980b9;
    }
    
    .current-page {
        margin: 5px;
    }
    
  
  </style>
{% endblock custom_css %}

{% block content %}
 <!-- ##### Header Area Start ##### -->
    <!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home'%}"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="{% url 'whole_products' %}">Shop</a>
                            
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'whole_products'%}">Shop</a></li>
                                
                                <li><a href="{% url 'blog'%}">Blog</a></li>
                                
                                <li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>

                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            {% comment %} <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> {% endcomment %}
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>

    <!-- #################################################################### -->
    <br><br><br><br><br><br>

    <div class="container mt-5">
        <h1 class="block1-name ltext-102 trans-04 p-b-8 ml-3">Your Wishlist</h1>
        <div class="row">
            {% if wishlistobjs %}
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Image</th>
                                <th>Product Price</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wishlistobjs %}
                                <tr id="wishitem{{ item.product.id }}">
                                    <td>{{ item.product.name }}</td>
                                    <td>
                                        <img style="max-width: 70px; max-height: 70px;" src="{{ item.product.image1.url }}" alt="">
                                    </td>
                                    <td>Rs. {{ item.product.price }}/-</td>
                                    <td>
                                        <form method="POST" action="{% url 'delete_wishlist_item' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.id }}">
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                        <td>
                                        
                                        <form method="POST" action="{% url 'add_to_cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                            <button class="btn btn-success" type="submit">Add To Cart</button>
                                        </form></td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-12">
                    <h5 class="text-danger ml-5 mt-4">No items in Wishlist!</h5>
                </div>
                <div class="col-12 mt-4">
                    <button class="btn btn-primary" onclick="window.location.href='{% url 'whole_products' %}'">Back To Shop</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if wishlistobjs.has_previous %}
                <a class="pagination-link" href="?page=1">&laquo; first</a>
                <a class="pagination-link" href="?page={{ wishlistobjs.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current-page">
                Page {{ wishlistobjs.number }} of {{ wishlistobjs.paginator.num_pages }}.
            </span>
    
            {% if wishlistobjs.has_next %}
                <a class="pagination-link" href="?page={{ wishlistobjs.next_page_number }}">next</a>
                <a class="pagination-link" href="?page={{ wishlistobjs.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
{% endblock content %}
