{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
 <!-- ##### Header Area Start ##### -->
 <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="{% static '/img/core-img/Realsporty-logos_black.png'%}" width="125" height ="150" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Shop</a>
                            <div class="megamenu">
                                {% for item in allcategories %}
                                <ul class="single-mega cn-col-4">
                                    <li class="title" style="background-color: #F79F81;">Collections </li>
                                    <li><a href="{% url 'category_products' item.id  %}">{{ item.name }} </a></li>
                                    
                                    
                                </ul> 
                                {% endfor %}
                                {% comment %} <div class="single-mega cn-col-4">
                                    <img src="{% static '/img/bg-img/bgg-6.jpg'%}" alt="">
                                </div>
                            </div> {% endcomment %}
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="contact.html">Contact</a></li>
                        {% comment %} <li><a href="{% url 'signup'%}">Sign up</a></li>
                        <li><a href="{% url 'login-page'%}">login</a></li> {% endcomment %}
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="{% url 'wishlist'%}"><img src="{% static '/img/core-img/heart.svg'%}" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="{% url 'userprofile'%}"><img src="{% static '/img/core-img/user.svg'%}" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static '/img/core-img/bag.svg'%}" alt=""> <span>{{ no_of_cart_items }}</span></a>
            </div>

            <div class="user-login-info">
              <a href="{% url 'logout' %}"><img src="{% static '/img/core-img/logout (1).png'%}" width="500" alt=""></a>
             
          </div>
        </div>

    </div>
</header>

    <!-- #################################################################### -->
    <br><br><br><br><br><br>

    <div class="container mt-5">
        <h1 class="block1-name ltext-102 trans-04 p-b-8 ml-3">Your Wishlist</h1>
        <div class="row">
            {% if wishlistobjs %}
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Image</th>
                                <th>Product Price</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wishlistobjs %}
                                <tr id="wishitem{{ item.product.id }}">
                                    <td>{{ item.product.name }}</td>
                                    <td>
                                        <img style="max-width: 70px; max-height: 70px;" src="{{ item.product.image1.url }}" alt="">
                                    </td>
                                    <td>Rs. {{ item.product.price }}/-</td>
                                    <td>
                                        <form method="POST" action="{% url 'delete_wishlist_item' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.id }}">
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                        <td>
                                        
                                        <form method="POST" action="{% url 'add_to_cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                            <button class="btn btn-success" type="submit">Add To Cart</button>
                                        </form></td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-12">
                    <h5 class="text-danger ml-5 mt-4">No items in Wishlist!</h5>
                </div>
                <div class="col-12 mt-4">
                    <button class="btn btn-primary" onclick="window.location.href='{% url 'cart' %}'">Back To Shop</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
