{% extends 'tadmin/base.html'%}

{% load static %}
<!-- BLOCK FOR TITLE -->

{% block title %}
Admin Dashboard
{% endblock title %}

<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CUSTOM CSS -->
{% block custom_css %}
{% endblock custom_css %}

<!--END BLOCK FOR CUSTOM CSS -->

<!-- BLOCK FOR PAGE TITLE -->

{% block page_title %}
Users Section

{% endblock page_title %}

<!-- END BLOCK FOR PAGE TITLE -->

<!-- BLOCK FOR PAGE MAIN CONTENT  -->

{% block page_content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input style="background-color:#FFFFF0;" type="text" name="searchitem" class="form-control" id="navbar-search-input" placeholder="Search user" aria-label="search" aria-describedby="search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Block/Unblock</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in datas %}
                                <tr>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phonenumber }}</td>
                                    <td>
                                        {% if item.isblocked %}
                                        <a href="{% url 'admin_unblockuser' item.id %}?action=unblock" class="btn btn-success" onclick="return confirm('Are you sure you want to unblock this user?')">Unblock</a>
                                        {% else %}
                                        {% comment %} <a href="{% url 'admin_blockuser' item.id %}" class="btn btn-warning btn-sm">Block</a> {% endcomment %}
                                        <a href="{% url 'admin_blockuser' item.id %}?action=block" class="btn btn-warning btn-sm" onclick="return confirm('Are you sure you want to block this user?')">Block</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}


<!-- END BLOCK FOR PAGE MAIN CONTENT  -->

<!-- BLOCK FOR CUSTOM JS -->

{% block custom_js %}
{% endblock custom_js %}

  <!-- END BLOCK FOR CUSTOM JS -->

