{% extends 'tadmin/base.html'%}

{% load static %}
<!-- BLOCK FOR TITLE -->

{% block title %}
Admin Dashboard
{% endblock title %}

<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CUSTOM CSS -->
{% block custom_css %}
<style>
  .pagination {
    margin-left:450px;
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination ul {
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin: 5px;
  }
  
  .pagination li a {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .pagination .current-page {
    margin: 5px;
    display: inline-block;
  }
  
  .pagination li:hover a {
    background-color: #2980b9;
  }
  </style>

{% endblock custom_css %}

<!--END BLOCK FOR CUSTOM CSS -->

<!-- BLOCK FOR PAGE TITLE -->

{% block page_title %}
Product Offer Section

{% endblock page_title %}

<!-- END BLOCK FOR PAGE TITLE -->

<!-- BLOCK FOR PAGE MAIN CONTENT  -->

{% block page_content %}

<div class="container">

    <div class="container">
      <form action="" method="POST">{% csrf_token %}
        <div class="input-group">
          <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
            {% comment %} <span class="input-group-text" id="search">
              <i class="icon-search"></i>
            </span> {% endcomment %}
          </div>
          <input style="background-color:#FFFFF0
          ;" type="text" name="searchitem" class="form-control mt-3" id="navbar-search-input" placeholder="Search product name" aria-label="search" aria-describedby="search">
          <div>
            <button  type="submit" class="btn btn-primary btn-block mt-3 ml-3">Search</button>
            
          </div>
        </div>
      
      </form>
    
    </div>

    <div class="row justify-content-end">
         <a href="{% url 'add_product_offer' %}"> 
          <button class="btn add-category-btn btn-primary mt-2">Add Offer</button>
        </a>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th>Offer</th>
              <th>Discount Percent</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
    
    
            {% comment %} var csrfToken =  $('input[name=csrfmiddlewaretoken]').val(); {% endcomment %}
    
    
    
            {% for item in pdtofferobjs %}
            <tr id="offer{{item.id}}">
              <td class="py-1">{{ item.product.name }}</td>
              <td class="py-1">{{ item.offer_description }}</td>
              <td class="py-1">{{ item.discount}}%</td>
              <td class="py-1">
                 <a href="{% url 'edit_product_offer' item.id %}"> 
                  <button class="btn edit-btn btn-warning">Edit</button>
                </a>
              </td>
              <td class="py-1">
              
                <td class="py-1">
                    <a href="{% url 'delete_product_offer' item.id %}">
                      <button class="btn edit-btn btn-info">Delete</button>
                    </a>
                  </td> 

                 {% comment %} <button  class="btn delete-btn btn-danger" data-category-id="{{ item.id }}">Delete</button> {% endcomment %}
             
            {% comment %} <a href="{% url 'admin_deletecategories' item.id %}">
              <button class="btn delete-btn btn-danger">Delete</button>
            </a> {% endcomment %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>  

<div class="pagination">
  <ul>
      {% if pdtofferobjs.has_previous %}
          <li><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ pdtofferobjs.previous_page_number }}">previous</a></li>
      {% endif %}

      <li class="current-page">
          Page {{ pdtofferobjs.number }} of {{ pdtofferobjs.paginator.num_pages }}.
      </li>

      {% if pdtofferobjs.has_next %}
          <li><a href="?page={{ pdtofferobjs.next_page_number }}">next</a></li>
          <li><a href="?page={{ pdtofferobjs.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
  </ul>
</div>

                
    

    {% endblock page_content %}

    <!-- END BLOCK FOR PAGE MAIN CONTENT  -->
    
    <!-- BLOCK FOR CUSTOM JS -->
    
    {% block custom_js %}
    {% endblock custom_js %}
    
      <!-- END BLOCK FOR CUSTOM JS -->
