{% extends 'tadmin/base.html'%}

{% load static %}
<!-- BLOCK FOR TITLE -->

{% block title %}
Admin Dashboard
{% endblock title %}

<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CUSTOM CSS -->
{% block custom_css %}
{% endblock custom_css %}

<!--END BLOCK FOR CUSTOM CSS -->

<!-- BLOCK FOR PAGE TITLE -->

{% block page_title %}
Add product Section

{% endblock page_title %}

<!-- END BLOCK FOR PAGE TITLE -->

<!-- BLOCK FOR PAGE MAIN CONTENT  -->

{% block page_content %}


<form class="p-5" method="POST" action="">
   {% csrf_token %}
          
    <div class="form-group mt-2">
     

      {% comment %} {% for item in content  %} {% endcomment %}
      {% comment %} <label for="username">Payment Type</label>
      <input value="{{item.ordertype}}" name="ordertype" type="text" class="form-control" id="username" placeholder="Enter username"> {% endcomment %}
      <label for="username">Status</label>
      {% comment %} <input value="{{item.orderstatus}}" name="orderstatus" type="number" class="form-control" id="username" placeholder="Enter username"> {% endcomment %}
      <select name="orderstatus" class="form-control" id="orderstatus">
        <option {% if orderobjs.orderstatus == "Pending" %}selected{% endif %} {% if orderobjs.orderstatus == "Returned" or orderobjs.orderstatus == "Delivered" or orderobjs.orderstatus == "Shipped" or orderobjs.orderstatus == "Ordered" %}disabled{% endif %}>Pending</option>
        <option {% if orderobjs.orderstatus == "Ordered" %}selected{% endif %} {% if orderobjs.orderstatus == "Returned" or orderobjs.orderstatus == "Delivered" or orderobjs.orderstatus == "Shipped"  %}disabled{% endif %}>Ordered</option>
        <option {% if orderobjs.orderstatus == "Shipped" %}selected{% endif %} {% if orderobjs.orderstatus == "Delivered" or orderobjs.orderstatus == "Returned" %}disabled{% endif %}>Shipped</option>
        <option {% if orderobjs.orderstatus == "Delivered" %}selected{% endif %} {% if orderobjs.orderstatus == "Returned" %}disabled{% endif %}>Delivered</option>
        <option {% if orderobjs.orderstatus == "Returned" %}selected{% endif %}>Returned</option>
    </select>
    
    
    
    </div>
    <button type="submit" class="btn btn-primary mt-4">Update</button>
    <h5> {{error}}</h5>
    {% comment %} {% endfor %} {% endcomment %}
  
  </form> 

{% endblock page_content %}

    <!-- END BLOCK FOR PAGE MAIN CONTENT  -->
    
    <!-- BLOCK FOR CUSTOM JS -->
    
    {% block custom_js %}
    {% endblock custom_js %}
    
      <!-- END BLOCK FOR CUSTOM JS -->

      {% comment %} <select name="order_{{ order.id }}_status" class="form-control text-white" >
        <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Confirm' or order.status == 'Processing' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Pending</option> 
        <option value="Confirm" {% if order.status == 'Confirm' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Processing' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Confirm</option>
        <option value="Processing" {% if order.status == 'Processing' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Processing</option>
        <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Delivered'  %}disabled{% endif %}>Shipped</option>
        <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %} {% if order.status == 'Cancelled'  %}disabled{% endif %}>Delivered</option>
        <option value="Cancel" {% if order.status == 'Cancelled' %}selected{% endif %} {% if order.status == 'Delivered'  %}disabled{% endif %}>Cancelled</option>
       </select>  {% endcomment %}